

  <div class=" m-5 animated fadeIn Contenedor-Cards">

      <div (click)= "verArtista( item  )" *ngFor="let item of items" class="card puntero">
        <img [src]="item.images | noimage" class="card-img-top" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text text-center">
              <a href="#" *ngFor="let artista of item.artists" class="badge badge-success">{{artista.name}}</a>
          </p> 
      </div>

  </div>
